.add-book {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.title {
  border-bottom: 1px solid #cb997e;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.input-group *:first-child {
  flex: 1;
}

.input-group *:last-child {
  flex: 3;
}
